PORT=3000
PRIMARY_API_KEY=
PRIMARY_BASE_URL=https://api.cloudflare.com/client/v4/accounts/<account_id>/ai/v1
TAVILY_API_KEY=
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
GEMINI_API_KEY=
IFLOW_API_KEY=
GROQ_API_KEY=
FRENIX_API_KEY=

